/*estilos vista Admin*/

.admin-container{
    display: flex;
    min-height: 100vh;
    background: #f5f7fb;
}

/*estilos sidebar*/
.admin-sidebar{
    width: 260px;
    background: white;
    padding: 30px 20px;
    border-right: 1px solid #e9ecef;
}

.admin-menu{
    list-style: none;
    padding: 0;
    margin: 0;
}

.admin-menu li{
    margin-bottom: 12px;
}

.admin-menu a{
    display: flex;
    align-items: center;
    gap: 12px;

    text-decoration: none;
    color: #333;

    padding: 12px 15px;
    border-radius: 12px;

    transition: .3s;
}

.admin-menu a:hover{
    background: #198754;
    color: white;
}

/*contenido*/
.admin-content{
    flex: 1;
    padding: 40px;
}

.admin-header h2{
    font-size: 32px;
    font-weight: bold;
}

.admin-header p{
    color: #6c757d;
}

/*cards*/
.resumen-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;

    margin-top: 35px;
}

.resumen-card{
    background: white;
    border-radius: 18px;
    padding: 25px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);

    transition: .3s;
}

.resumen-card:hover{
    transform: translateY(-5px);
}

.resumen-card i{
    font-size: 32px;
    color: #198754;
}

.resumen-card h3{
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}

.resumen-card p{
    color: #6c757d;
    margin: 0;
}

/*panel inferior*/
.admin-panel{
    background: white;
    border-radius: 18px;
    padding: 30px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
}

.actividad-item{
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 15px 0;

    border-bottom: 1px solid #eee;

    color: #555;
}

.actividad-item i{
    color: #198754;
    font-size: 18px;
}

/*logoAdmin/sidebar*/
.admin-logo{
    display: flex;
    align-items: center;
    gap: 15px;

    margin-bottom: 40px;
    padding-bottom: 20px;

    border-bottom: 1px solid #e9ecef;
}

.admin-logo-icon{
    width: 55px;
    height: 55px;

    border-radius: 14px;

    background: linear-gradient(135deg, #198754, #157347);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 24px;

    box-shadow: 0 6px 15px rgba(25, 135, 84, .25);
}

.admin-logo h3{
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #212529;
}

.admin-logo span{
    font-size: 14px;
    color: #6c757d;
}

/*tabla productos*/
.tabla-img{
    width: 70px;
    height: 70px;

    object-fit: cover;

    border-radius: 12px;
}

.table th{
    color: #6c757d;
    font-weight: 600;
}

.table td{
    vertical-align: middle;
}

.acciones-producto{
    display: flex;
    align-items: center;
    gap: 8px;
}

.acciones-producto .btn-sm{
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*estilos para modal eliminar*/
.modal-footer{
    padding: 16px 20px;
}

.modal-content{
    border-radius: 18px;
    overflow: hidden;
    
    animation: aparecer .25s ease;
}

@keyframes aparecer{
    from{
        transform: translateY(15px);
        opacity: 0;
    }

    to{
        transform: translateY(0);
        opacity: 1;
    }
}

.modal-header{
    background: linear-gradient(135deg,#198754,#157347);
    color: white;
}

.modal-header .btn-close{
    filter: invert(1);
}

/*estilos para gestion usuarios index*/
.badge-admin{
    background: #dc3545;
    color: white;

    padding: 8px 12px;
    border-radius: 20px;

    font-size: 13px;
    font-weight: 600;
}

.badge-usuario{
    background: #0d6efd;
    color: white;

    padding: 8px 12px;
    border-radius: 20px;

    font-size: 13px;
    font-weight: 600;
}

/*estilos para avatar de usuario en usuarios/index*/
.avatar-usuario{
    width: 42px;
    height: 42px;

    border-radius: 50%;
    
    background: linear-gradient(135deg, #198754, #157347);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    font-size: 15px;

    box-shadow: 0 4px 10px rgba(25, 135, 84, .25);
}

/*estilos para vista usuarios/show*/

/*show usuario*/
.usuario-detalle{
    display: flex;
    align-items: center;
    gap: 25px;
}

.usuario-avatar-grande{
    width: 90px;
    height: 90px;

    border-radius: 50%;

    background: linear-gradient(135deg, #198754, #157347);

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-size: 32px;
    font-weight: bold;

    box-shadow: 0 6px 15px rgba(25, 135, 84, .25);
}

.usuario-info h3{
    margin: 0;
    font-size: 28px;
    font-weight: bold;
}

.info-card{
    background: #f8f9fa;
    border-radius: 16px;
    padding: 20px;
}

.info-card span{
    color: #6c757d;
    font-size: 14px;
}
.info-card h5{
    margin-top: 10px;
    font-weight: bold;
}

/*cuando la fila de productos/index esté desactivada*/
.producto-inactivo{
    opacity: 0.5;
    background-color: #f1f1f1;
}

/*productos más vendidos*/
.top-producto-card{
    background: #fff;
    border-radius: 18px;
    padding: 18px;

    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);

    transition: 
    max-height .35s ease,
    transform .3s ease;

    height: 100%;

    overflow: hidden;
}

.top-producto-card strong{
    display: block;

    font-size: 15px;
    margin-bottom: 5px;

    color: #212529;

    line-height: 1.4;

    max-height: 42px;

    overflow: hidden;

    transition: max-height .35s ease;
}



.top-producto-card:hover{
    transform: translateY(-5px);
    box-shadow: 0 8px 22px rgba(0, 0, 0, 0.12);
}

.top-producto-card:hover strong{
    max-height: 500px;
}

.top-producto-card img{
    width: 100%;
    height: 120px;

    object-fit: contain;

    background: #f8f9fa;

    border-radius: 14px;

    margin-bottom: 12px;
    padding: 10px;
}

.top-producto-card small{
    color: #6c757d;
    font-size: 13px;
}

.top-producto-numero{
    width: 30px;
    height: 30px;

    border-radius: 50%;

    background: #198754;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    font-weight: bold;

    margin: 0 auto 10px auto;
    background: linear-gradient(135deg, #198754, #157347);
}

/*filtros de ventas*/
.filtros-ventas{
    background: #f8f9fa;
    border: 1px solid #e9ecef;
    padding: 25px;

    border: 1px solid #eef1f4;

    box-shadow: 0 14px 15px rgba(0, 0, 0, 0.04);
}

/*inputs y selects*/
.filtros-ventas .form-control,
.filtros-ventas .form-select{
    height: 48px;

    border-radius: 14px;
    border: 1px solid #dee2e6;

    padding: 0 15px;
    
    transition: all .25s ease;

    box-shadow: none;
}

/*focus más ajustado*/¨
.filtros-ventas .form-control:focus,
.filtros-ventas .form-select:focus{
    border-color: #198754;

    box-shadow: 0 0 0 4px rgba(25, 135, 84, .12);

    transform: translateY(-1px);
}

/*botones*/
.filtros-ventas .btn{
    height: 48px;

    border-radius: 14px;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: .25s ease;
}

.filtros-ventas .btn:hover{
    transform: translateY(-2px);
}

/*btn reset*/
.filtros-ventas .btn-outline-secondary{
    border: 1px solid #dee2e6;
}

.filtros-ventas .btn-outline-secondary:hover{
    background: #f1f3f5;
    color: #212529;
}

/*espacio interno*/
.filtros-ventas .row{
    align-items: center;
}

/*placeholder más elegante, jei*/
.filtros-ventas input::placeholder{
    color: #adb5bd;
}

/*estilos label de fechas desde-hasta*/
.filtro-label{
    font-size: 13px;
    font-weight: 600;
    color: #6c757d;

    margin-bottom: 6px;
}

/*modal resumen ventas*/
.resumen-stat-card{
    background: #fff;

    border-radius: 16px;

    padding: 1.2rem;

    box-shadow: 0 4px 15px rgba(0, 0, 0, .06);
    transition: .2s ease;
    border-left: 5px solid #198754;
}

.resumen-stat-card:hover{
    transform: translateY(-3px);
}

.resumen-stat.card small{
    color: #6c757d;
    font-size: .9rem;
}

.resumen-stat-card h3{
    font-size: 1.8rem;
    margin-top: .4rem;
    margin-bottom: 0;
    font-weight: 700;
}

.resumen-icon{
    font-size: 2rem;
}

.total-card{
    border-left-color: #198754;
}

.total-card .resumen-icon{
    color: rgba(25, 135, 84, .25);
}

.pedidos-card{
    border-left-color: #0d6efd;
}

.pedidos-card .resumen-icon{
      color: rgba(13,110,253,.25);
}

.ticket-card{
    border-left-color: #ffc107;
}

.ticket-card .resumen-icon{
    color: rgba(255, 193, 7, .30);
}

.productos-card .resumen-icon{
    color: rgba(220, 53, 69, .25);
}

.productos-card{
    border-left-color: #dc3545;
}

.ranking-card{
    background: #f8f9fa;

    border-radius: 16px;

    padding: 25px;

    height: 100%;
}

.ranking-item{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 12px 0;

    border-bottom: 1px solid #e9ecef;
}

/*estilos para resumen modal/imagenes de ventas más y menos vendidas*/
.ranking-producto-img{
    width: 55px;
    height: 55px;

    object-fit: contain;
    
    border-radius: 12px;

    background: #f8f9fa;
    padding: 6px;
    border: 1px solid #e9ecef;
}

/*estilos para las cards resumen destacado*/
.producto-destacado{
    background: #f8f9fa;
    border-radius: 12px;
    padding: 12px;
    margin-bottom: 12px;
}



/*responsive*/
@media(max-width: 992px){
    .admin-container{
        flex-direction: column;
    }

    .admin-sidebar{
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #eee;
    }
}

