html{
    scroll-behavior: smooth;
}

/*estilos del header*/
.header-turno {
    width: 100%;
    background-color: #28a745;
    color: white;
    padding: 70px 0;
    margin: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.header-turno h1 {
    margin: 0;
}

/*btn tienda desactivado*/
.btn-disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

/*estilos toast*/
.toast-global{
    position: fixed;
    bottom: 30px;
    right: 50px;

    color: white;
    padding: 15px 20px;
    border-radius: 12px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

    opacity: 0;
    transform: translateY(20px);

    transition: all .3s ease;

    z-index: 9999;

    pointer-events: none;
    visibility: hidden;
}

.toast-global.show{
    opacity: 1;
    transform: translateY(0);

    visibility: visible;
}

.toast-success{
    background: #198754;
}

.toast-error{
    background: #dc3545;
}

/*btn para volver arriba*/
#btnScrollTop{
    position: fixed;
    bottom: 25px;
    left: 25px;

    width: 50px;
    height: 50px;

    border: none;
    border-radius: 50%;

    background: #198754;
    color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);

    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    opacity: 0;
    visibility: hidden;

    transform: translateY(15px);

    transition: all 0.3s ease;

    z-index: 999;
}

/*visible*/
#btnScrollTop.show{
    opacity: 1;
    visibility: visible;

    transform: translateY(0);
}

#btnScrollTop:hover{
    background: #157347;
    transform: translateY(-3);
}

