
.login-container {
    max-width: 400px;
    width: 100%;
}



.btn-tab {
    border: none;
    background: transparent;
    color: #6c757d;
}

.btn-tab.active {
    background: white;
    color: #198754;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.divider {
    position: relative;
}

.divider span {
    background: white;
    padding: 0 10px;
    position: relative;
    z-index: 1;
}

.divider::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background: #ddd;
    top: 50%;
    left: 0;
    z-index: 0;
}

.logo-img-grande{
    width: 50px;
    height: auto;
    object-fit: contain;
    margin-top: 20px;
}

/* Transiciones generales */
.btn, .form-control, .input-group-text {
    transition: all 0.3s ease;
}

/* Tabs animados */
.btn-tab {
    transition: all 0.3s ease;
}

.btn-tab.active {
    transform: scale(1.03);
}

/* Animación de entrada */
.fade-slide {
    opacity: 0;
    transform: translateX(-40px);
    transition: all 0.5s ease;
}

.fade-slide.show {
    opacity: 1;
    transform: translateX(0);
}

/* Card animación inicial */
.card {
    animation: aparecer 0.6s ease;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hover botón */
.btn-success:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}

