.recovery-container{
    min-height: 80hv;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.recovery-card{
    width: 100%;
    max-width: 500px;
    border: none;
    border-radius: 20px;
}

.recovery-card h2{
    font-weight: bold;
    color: #333;
}

.form-control{
    border-radius: 10px;
    padding: 12px;
}

.form-control:focus{
    box-shadow: none;
    border-color: #198754;
}

.codigo-input{
    text-align: center;
    letter-spacing: 10px;
    font-size: 1.5rem;
    font-weight: bold;
}

.btn-success{
    padding: 12px;
    border-radius: 10px;
    font-weight: 600;
}

.alert{
    border-radius: 10px;
}

.animar{
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.animar.visible{
    opacity: 1;
    transform: translateY(0);
}